body {
    position: relative;
    background-color: #888888;
    background: url('media/primevalor background image.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: center 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Lora", serif;
    color: #fff;
}

.container {
    text-align: center;
    max-width: 500px;
}

/* FONTS */
  
.merriweather-black {
font-family: "Merriweather", serif;
font-weight: 900;
font-style: normal;
}
.lora {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  

h1 {
    font-family: "Merriwather", serif;
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

p {
    font-family: "Lora", serif;
    font-size: 1.2rem;
    margin: 1rem 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}

.link {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    margin-bottom: 2rem;
    display: inline-block;
}

.buttons {
    margin-top: 2rem;
}

.btn {
    text-decoration: none;
    padding: 0.8rem 2rem;
    border-radius: 5px;
    margin: 0.5rem;
    display: inline-block;
}

.discord {
    background-color: #4a69ff;
    color: #fff;
}

.project-goal {
    background-color: #ffda44;
    color: #000;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1rem;
    }

    .btn {
        padding: 0.5rem 1.5rem;
    }

    .container {
        max-width: 85%;
    }
    
}

.bg-credit {
    position: absolute;
    bottom: 20px; 
    left: 20px; 
    font-size: 0.8rem;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
    
    a:link {
        color: rgb(255, 255, 255);
      }
}